---
import { work } from "@cv";
import SectionContainer from "../SectionContainer.astro";

---


<SectionContainer title="Experiencia">
    <ul class="work">
        {work.map(({name, startDate,endDate,position, summary, highlights})=>
        {
            const startYear = new Date(startDate).getFullYear();
            const endYear = endDate !== null ? new Date(endDate).getFullYear(): "Actual";
            const years =  `${startYear} - ${endYear}`;
            return(
                <li>
                    <article>
                        <header>
                            <div>
                                <h3>{name}</h3>
                                <h4>{position}</h4>
                            </div>
                            <time>{years}</time>
                        </header>
                        <footer>
                            <ul class="highlights_work">
                                {highlights.map((highlight => {
                                    return(
                                        <li>{highlight}</li>
                                    )
                                }))}
                            </ul>
                            
                        </footer>    
                    </article>
                </li>
            )
        })}
    </ul>
</SectionContainer>


<style>
    ul{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    li{
        margin: 0;
    }

    .work{
        gap: 32px;
    }

    .highlights_work{
        margin-left: 1rem;
        font-size: 0.7rem;
        color: #444;
        font-weight: 200;
        gap: 4px;
        list-style: disc;
    }

    .highlights_work li{
        line-height: 14px;
    }

    article h3{
        font-weight: 500;
        color: #111;
    }

    article h4{
        color: #222;
        font-weight: 400;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: flex-center;
        margin-bottom: 4px;
    }


    time{
        font-size:0.85rem;
        color: #555;
    }
</style>